<div id="beerbox">
    <h3>- SCHoP - DrAFT -</h3>
    <br>

    {% for beer in beers %}
        {% if beer.available %}
        <div class='menu-item'>
            <b class='colored-menu'>{{beer.product | safe}}</b> 
            <b>{{beer.description | safe}}
                <i> {{"${:,}".format(beer.price).replace(',', '.') | safe}}  </i> 
                {%if beer.mls != "" %}
                por aprox {{ beer.mls}}ml.
                {%endif%}
                {%if beer.alcohol != "" %}
                {{ "{:,}".format(beer.alcohol).replace('.', ',') | safe }}&#176;.
                {%endif%}
            </b>
            <br><br>
        </div>
            
        {% endif %}
    {% endfor %}

    
</div>