<h3>- VINOS de la Zona - </h3>
<br>
<b class='pinked'>HOOPS:</b> <br><br>
<b>blend - carm&eacute;n&egrave;re, petit verdot, malbec, syrah. 557 botellas - 2018 <i> $25.000 </i> </b>
<a href="https://www.instagram.com/caviahuewines/" class="wp-link bolded" target="_blank"> <span
        class="pinked2">@caviahuewines</span> </a> <br><br>
<b class='pinked'>UNDURRAGA:</b> <br><br>
<i>
    <ul id="winelist">
        <b>
            <li> Carm&eacute;n&egrave;re (2018) $12.000</li>
            <li> Cabernet Sauvignon (2018) $12.000 </li>
            <li> Sauvignon Blanc TH Leyda (2019) $12.000 </li>
        </b>
    </ul>
</i> <br><br>