{% extends "layout.html" %}

{% block content %}

<div id="mainbod">

    <!-- section1 -->
    <div>

        <div class="InfoTexts bolded"">
            <p>
                &#129419; de Talagante al m&aacute;s all&aacute;  &#129419; 
                <br>
                &#161;Apoya a tus vecinos!  
                <br>
            </p>

            <div id="szot-map">

                <iframe 
                    src="https://www.google.com/maps/d/embed?mid=1a5LoMMqLfCghVjKaxVk_ambBJ9euPCFx" 
                    style="border:none;
                    width:100%;
                    height:100%;"
                    >
                </iframe>

            </div>

            <p>
           
                Nuestra misi&oacute;n es hacerte llegar nuestras cervezas 
                bajo el mejor cuidado posible, y hay hartos amigos del 
                mundillo de la chela que est&aacute;n en la misma.
                <br> 
                Puede ser que a veces el mapa est&eacute; desactualizado o 
                que algunos de nuestros colegas no tengan stock por el momento. <br> 
                &#161;Cont&aacute;ctalos por si las moscas para irte a la segura!

            </p>
    </div>


    </div>

</div>

{% endblock %}