<!DOCTYPE html>

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!-- css stylesheet -->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">    
    <!-- webicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/logodogalone.png')}}">
    <!-- <title>Cerveza SZOT</title> -->
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> Cerveza SZOT </title>
    {% endif %}
</head>

<body>

    <div id="inbody">

        {% include 'snips/navbar.html'%}

        {# mainbod "disappears" when menu nav is opened #}
        <div id="mainbod">

            {% include 'snips/storelink.html'%}

            <div class="bodycontent">

                
                {% include 'snips/flashmessages.html'%}
                
                {% block content %}{% endblock %}
                
            </div>
            
        </div>
        
        {% include 'snips/footer.html'%}

    </div>

</body>

<script src="{{ url_for('static', filename='js/page_controll.js')}}"></script>

</html>